In [3]:
##create a python program to sort the given list of  tuples based on intenger value using a lamda function

##[('Sachin Tendulker',34357),('Ricky Pointing', 27483),('Jack Kallis', 25534), ('Virat Kohli',24936)]

In [8]:
cricketer_runs = [('Sachin Tendulker',34357), ('Ricky Pointing', 27483), ('Jack Kallis', 25534), ('Virat Kohli',24936)]
print("Original list of tuples:")
print(cricketer_runs)
cricketer_runs.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(cricketer_runs)

Original list of tuples:
[('Sachin Tendulker', 34357), ('Ricky Pointing', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Sorting the List of Tuples:
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Pointing', 27483), ('Sachin Tendulker', 34357)]

In [10]:
##write a Python program to find the squares of all the numbers in the given list of intengers using lambdda and map function.
[1,2,3,4,5,6,7,8,9,10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
l = [1,2,3,4,5,6,7,8,9,10]

In [25]:
def test (l):
    l1 = []
    for i in l:
        l1.append(i**2)
        return l1

In [26]:
test(l)

[1]

In [27]:
def sq(x):
    return x**2

In [29]:
list(map(sq, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
##write a python proram to convert the given list of intengers into a tuple os strings. use map and lambda function.

Given string: [1,2,3,4,5,6,7,8,9,10]
Epected output: ('1','2','3','4','5','6','7','8','9','10')

In [42]:
nums_list = [1,2,3,4,5,6,7,8,9,10]
print("Original list:")
print(nums_list)
result_list = list(map(str,nums_list))
print("\nList of strings:")
print(result_list)

Original list:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

List of strings:
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [43]:
##write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [44]:
from functools import reduce

In [45]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,23,24,25]

In [48]:
reduce(lambda x,y : x+y, l)

303

In [49]:
##write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2,3,6,9,27,60,90,120,55,46]

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [52]:
l = [2,3,6,9,27,60,90,120,55,46]

In [54]:
l

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [60]:
list(filter(lambda x : x % 2 == 0, l ))

[2, 6, 60, 90, 120, 46]

In [62]:
l

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [63]:
list(filter(lambda x : x % 3 == 0, l ))

[3, 6, 9, 27, 60, 90, 120]

In [ ]:
##write a python to find to find palindromes in the given list of strings using lambda and filter function.

['python','php','aba','radar','level']

In [64]:
l2 = ['python','php','aba','radar','level']

In [ ]:
list(filter(lambda x : len(x)))